body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
}
.header , .footer , .hero{
    background-color: #1f2937;
    display: flex;
    
}
.header{
    justify-content: space-between;
    
}
.header , .footer{
    padding: 16px 60px;
    
}
.footer{
    
    justify-content: center ;
    align-items: center;
}
.hero{
    padding: 80px ;
    justify-content: center;
    gap:50px ;
}
ul{
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 0;
    margin: 0;
}
a , .footer{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.desc{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.sec-text{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}
button{
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
}
.logo ,.main-text {
    color: #f9faf8 ;
    font-weight: bold;
}
.logo{
    font-size: 24px;
}
.main-text {
    font-size: 48px;
}
.main-img{
    width:400px ;
    height: auto;

}
p{
    margin: 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.card-section{
    display: flex;
    gap: 20px;
    
}
.card{
    text-align: center;
}
.card-img{
    border: 5px solid #3882f6 ;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
.info-{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
